---
import Hamburger from './Hamburger.astro';
import Theme from './Theme.astro';
---

<header>
  <nav>
    <Hamburger />
    <Theme />
  </nav>
</header>

<style>
  header {
    background-color: var(--strokes);
    height: 6rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  nav {
    display: flex;
    justify-content: space-between;
    width: 90%;
  }
</style>
