---
import Hamburger from './Hamburger.astro';
import Theme from './Theme.astro';
---

<header>
  <nav>
    <Hamburger />
    <Theme />
  </nav>
</header>

<style>
  header {
    background-color: var(--strokes);
    height: 5rem;
    width: 100%;
  }
  nav {
    display: flex;
  }
</style>
