<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width,  initial-scale=1.0' />
    <meta name='robots' content='index,follow ' />
    <meta name='description' content='Desarrollador web full stack imga' />
    <meta name='author' content='Imga' />
    <!-- cambiar facicon -->
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />

    <meta name='generator' content={Astro.generator} />

    <title>Porfolio | home | Imgara</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  /* Theme Colors */
  :root {
    background-color: #d8eefe;
  }
  :root.dark {
    background-color: #0d0950;
  }
</style>
