<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width,  initial-scale=1.0' />
    <meta name='robots' content='index,follow ' />
    <meta name='description' content='Desarrollador web full stack imga' />
    <meta name='author' content='Imga' />
    <!-- cambiar facicon -->
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />

    <meta name='generator' content={Astro.generator} />

    <title>Porfolio | home | Imgara</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  /* Theme Colors */
  :root {
    --bg-color: #d8eefe;
    --headline-color: #094067;
    --br: 0.8rem;
  }
  :root.dark {
    --bg-color: #0d0950;
    --headline-color: #fffffe;
  }
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html {
    background-color: var(--bg-color);
    font-size: 62.5%;
    /* animacion */
    transition:
      background-color 0.3s ease-in-out,
      color 0.5s ease-in-out;
    body {
      font-size: 1.6rem;
    }
    h1 {
      color: var(--headline-color);
    }
    button {
      border: none;
    }
  }
</style>
